doctype
html(ng-app="app")
    head
        title Austin-Didier Tran
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/css/site.css")
        base(href="/")
    body(ng-controller="mainController as mainCtrl")
        div(id="content")
            block header
            block tabs
            block main-content
            block footer
        script(type="text/javascript", src="/vendor/angular/angular.js")
        script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
        script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
        script(type="text/javascript", src="/app/app.js")
        script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
        script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
            