h2 Austin-Didier
div(class="row" ng-repeat="article in articles")
    br
    div(class="col-md-2")
        img(ng-src="{{article.picture}}" class="picture")
    div(class="col-md-10")
        p(ng-repeat="contenu in article.content") {{contenu}}