block main-content
    h2 Parcours Scolaire
    div(class="row" ng-repeat="scolaire in scolaires" ng-init="tab = 3")
        br
        div(class="col-md-2")
            br
            img(ng-src="{{scolaire.picture}}" class="picture")
        div(class="col-md-10")
            h4 {{scolaire.institution}}
            h5 {{scolaire.field}}
            h5 {{scolaire.duration}}
            p(ng-repeat="content in scolaire.description") {{content}}