extends ../public/views/layout

block header
    div(id="header")
        .navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href="/" id="headerTitle") Austin-Didier Tran
                        li
                            a(href="/experiences") Expérience Professionnelles
                        li
                            a(href="/connaissances") Connaissances Particulières
                        li
                            a(href="/scolaires") Parcours Scolaire
        
block main-content
    div(ng-view)
    
block footer
    div(id="footer")
        hr
        div(class="col-md-9")
            span(class="footer")
                img(ng-src="Pictures/Footer/phone.png" class="icon")
                span 819 580-2378
            span(class="footer")
                img(ng-src="Pictures/Footer/mail.png" class="icon")
                span tran.austin.didier@gmail.com
        div(class="col-md-3")
                a(ng-repeat="social in socials" href="{{social.link}}")
                    img(ng-src="{{social.picture}}" class="social")
    
    
//
    How it was before
    span(class="footer" ng-repeat="information in footer | orderBy:'ID'")
            img(ng-src="{{information.picture}}" class="icon")
            {{information.content}}