extends ../public/views/layout

block header
    div(class="row")
        div(class="col-md-8")
            h1 Austin-Didier Tran
        div(class="col-md-4")
            a(ng-repeat="social in socials" href="{{social.link}}")
                img(ng-src="{{social.picture}}" class="social")

block tabs
    div(class="row")
        //How it was before
        //ul(class="nav nav-pills red" role="tablist")
                //li(ng-repeat="tab in tabs" ng-class="{active:mainCtrl.isSelected(tab.ID)}")
                    //a(href="/{{tab.name}}" ng-click="mainCtrl.selectTab(tab.ID)") {{tab.value}}
            
        ul(class="nav nav-pills red" role="tablist")
            li(ng-class="{active:mainCtrl.isSelected(0)}")
                a(href="/accueil" ng-click="mainCtrl.selectTab(0)") Accueil
            li(ng-class="{active:mainCtrl.isSelected(1)}")
                a(href="/experiences" ng-click="mainCtrl.selectTab(1)") Expériences Professionnelles
            li(ng-class="{active:mainCtrl.isSelected(2)}")
                a(href="/connaissances" ng-click="mainCtrl.selectTab(2)") Connaissances Particulières
            li(ng-class="{active:mainCtrl.isSelected(3)}")
                a(href="/scolaires" ng-click="mainCtrl.selectTab(3)") Parcours Scolaire
                
                
                    
                    
                    
                    

block main-content
    div(ng-view)
    
block footer
    div
        span(class="footer")
            img(ng-src="Pictures/Footer/phone.png" class="icon")
            span 819 580-2378
        span(class="footer")
            img(ng-src="Pictures/Footer/mail.png" class="icon")
            span tran.austin.didier@gmail.com
    
    
//
    as it was before
    span(class="footer" ng-repeat="information in footer | orderBy:'ID'")
            img(ng-src="{{information.picture}}" class="icon")
            {{information.content}}