h1
    font-family Tahoma, Geneva, sans-serif
a
    color #555
p 
    text-align justify
#content
    width 900px
    margin-left auto
    margin-right auto
#header
    width 900px
    margin-left auto
    margin-right auto
    margin-bottom 80px
    background-color:#ccc
    a  
        color:white
    a:hover
        color:#ffb
#headerTitle
    font-size:24px
.icon
    width 30px
    height 30px
    margin-right 10 px
.social
    width 30px
    height 30px
    margin-right 10 px
.picture
    width 120px
.footer
    margin-right 25px
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover 
	color:#ffb;
	background-color:#555;
	font-family:Tahoma, Geneva, sans-serif;
.navbar.navbar-inverse.navbar-fixed-top
    background-color:#444
    border-color:#444